.NavBar {
  display: flex;
  position: sticky;
  top: 0px;
  background-color: white;
  border: 5px solid grey;
  padding: 5px;
}

.NavBar > div > h1 {
  margin: auto 10px;
}

.NavBar > Button {
  justify-content: end;
  flex: 1;
}

.vCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
