.Review-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "t i"
    "o i"
    "c i"
    "d i"
    "v i";
}

.i {
  grid-area: i;
  width: 150px;
  height: 150px;
  object-fit: cover;
  align-self: center;
  justify-self: end;
  margin: 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .i {
    width: 100px;
    height: 100px;
  }
}

.t {
  grid-area: t;
}

.o {
  grid-area: o;
}

.c {
  grid-area: c;
}

.des {
  grid-area: d;
}

.v {
  grid-area: v;
  display: flex;
  column-gap: 20px;
}

.Review-container > p {
  margin: 5px;
  display: flex;
  align-items: center;
}
