.ReviewCard-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "title review-img-url"
    "owner review-img-url"
    "review-body review-body"
    "review-body review-body"
    "details details";
  grid-gap: 5px;
}

.ReviewCard-container:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .ReviewCard-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "title review-img-url"
      "owner review-img-url"
      "details details";
    grid-gap: 5px;
  }
}

.title {
  grid-area: title;
}

.owner {
  grid-area: owner;
}

.review-body {
  grid-area: review-body;
}

.details {
  grid-area: details;
  display: flex;
  column-gap: 10px;
  justify-content: flex-end;
}

.review-img-url {
  grid-area: review-img-url;
  width: 100px;
  height: 100px;
  object-fit: cover;
  place-self: center;
}
